<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Feather Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- CSS -->
  <link rel="stylesheet" href="../css/login.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper sign-in">
      <form method="POST" action="/users/login" id="loginForm">
        <h2>Log In</h2>

        <div class="input-style">
          <input
            type="email"
            required
            name="email"
            id="email"
          />
          <label for="email">Enter your email</label>
          <i class="bx bxs-envelope"></i>
        </div>

        <div class="input-style">
          <input
            type="password"
            required
            name="password"
            id="password"
          />
          <label for="password">Enter your password</label>
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" class="btn" id="loginButton">Log In</button>

        <div class="sign-link">
          <p>
            Don't have an account?
            <a href="signUp.html">Sign Up</a>
          </p>
        </div>
      </form>
    </div>
    <!-- Footer -->
    <footer>
      <p>&copy; 2023 Care Fit 2023. All rights reserved.</p>
    </footer>
    <!-- JavaScript -->
    <script>
      $(document).ready(function () {
        $('#loginForm').submit(function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Kirim permintaan POST dengan jQuery Ajax
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (result) {
              console.log(result);
              if (result.status === 200) {
                // Redirect ke halaman home jika berhasil login
                window.location.href = "home2.html"; // Ganti dengan path yang sesuai
              } else if (result.status === 401) {
                // Tampilkan pesan jika password salah
                alert("Gagal Login: Password salah. Silakan coba lagi.");
              } else if (result.status === 404) {
                // Tampilkan pesan jika user tidak ditemukan
                alert("Gagal Login: User tidak ditemukan.");
              } else if (result.status === 500) {
                // Tampilkan pesan jika terjadi kesalahan server
                alert("Gagal Login: Terjadi kesalahan server. Silakan coba lagi nanti.");
              }
            },
            error: function (res) {
              $("html,body").animate({
                scrollTop: 0
              }, 80);
              // $(".loader-box-form").css("display", "none");
              $("#alert-gagal").css("display", "block");
            }
          });
          return false;
        });
      });
    </script>
  </div>
</body>
</html>
